* {
  box-sizing: border-box;
}

.body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
  font-family: "Karla", sans-serif;

}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--subtitle {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: solid 1px #d5d4d8;
  text-indent:  5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border: none;
  color: white;
  cursor: pointer;
}

.meme--image {
  max-width: 100%;
}